APP_ENV=development
DATABASE_URL=******db:5432/malciedb
GRAPH_CLIENT_ID=
GRAPH_TENANT_ID=common
GRAPH_CLIENT_SECRET=
GRAPH_SCOPE=offline_access Mail.Read
ARTIFACT_STORAGE_PATH=artifacts
MAX_EML_SIZE_BYTES=10485760
MAX_ATTACHMENT_SIZE_BYTES=26214400
VT_API_KEY=
JWT_SECRET=
